@import '@/styles/app.scss';

.footer {
  display: flex;
  align-items: center;
  gap: 20px;

  flex-direction: column;

  @include s {
    flex-direction: row;
    justify-content: space-between;
  }

  .email {
    display: flex;
    flex-direction: column;

    @include s {
      flex-direction: row;
      gap: 10px;
    }
  }
}
