@import '@/styles/app.scss';

.heading {
  color: #fff;
  font-style: normal;
  line-height: normal;
}

.h1 {
  font-weight: 600;
  font-size: 36px;

  @include s {
    font-size: 64px;
  }
}

.h2 {
  font-weight: 600;
  font-size: 28px;

  @include s {
    font-size: 48px;
  }
}
