@import '@/styles/app.scss';

.text {
  font-style: normal;
  line-height: normal;
  color: var(--white);
}

// _________________Colors_________________
.white {
  color: var(--white);
}
.black {
  color: var(--black);
}
.gray {
  color: var(--gray);
}

// _________________Sizes_________________
.s {
  font-size: 18px;
  font-weight: 400;
}

.m {
  font-size: 22px;
  font-weight: 500;

  @include s {
    font-size: 30px;
  }
}

.l {
  font-size: 42px;
  font-weight: 600;
}
