@import '@/styles/app.scss';

.text {
  font-style: normal;
  line-height: normal;
  color: var(--white);
  margin: 0;
}

// _________________Colors_________________
.white {
  color: var(--white);
}
.black {
  color: var(--black);
}
.gray {
  color: var(--gray);
}

// _________________Sizes_________________
.s {
  font-size: 18px;
  font-weight: 400;
}

.m {
  font-size: 30px;
  font-weight: 500;
}

.l {
  font-size: 42px;
  font-weight: 600;
}
