@import '@/styles/app.scss';

.header {
  position: relative;
  display: grid;
  grid-template-columns: [start] auto [endLogo] 1fr [startNav] auto [endNav];

  padding: 10px 0px;

  @include s {
    grid-template-columns: [start] auto [endLogo] 1fr [startNav] auto [endNav] 2fr [startSocial] auto [end];
    padding: 20px 0px;
  }

  .logo {
    grid-column: start / endLogo;
  }

  .navigation {
    display: none;

    @include xs {
      display: flex;
      grid-column: startNav / endNav;
    }

    .list {
      display: flex;
      align-items: center;
      gap: 20px;

      .item {
        cursor: pointer;
        text-wrap: nowrap;
        width: fit-content;

        position: relative;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: -3px;
          height: 2px;
          background-image: linear-gradient(
            270deg,
            #13adc7 0%,
            #6978d1 66.67%,
            #945dd6 100%
          );
          background-size: 0% 100%;
        }

        &:hover::after {
          background-size: 100% 100%;
        }
      }
    }
  }

  .socialLinks {
    display: none;

    @include s {
      display: flex;
      grid-column: startSocial / end;
    }
  }

  .menuButton {
    background-color: var(--background);
    grid-column: startNav / endNav;

    z-index: 100000;

    @include xs {
      display: none;
    }
  }
}
